In [1]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

%matplotlib inline

# Libraries for data preparation and model building
#import *

# Setting global constants to ensure notebook results are reproducible
#PARAMETER_CONSTANT = ###

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df_1 = pd.read_csv('train_clean.csv')
df_2 = pd.read_csv('test_clean.csv')

In [4]:
df_train = df_1.copy()
df_test = df_2.copy()

In [5]:
df_train.head(10)

,time,madrid_wind_speed,valencia_wind_deg,bilbao_rain_1h,valencia_wind_speed,seville_humidity,madrid_humidity,bilbao_clouds_all,bilbao_wind_speed,seville_clouds_all,bilbao_wind_deg,barcelona_wind_speed,barcelona_wind_deg,madrid_clouds_all,seville_wind_speed,barcelona_rain_1h,seville_pressure,seville_rain_1h,bilbao_snow_3h,barcelona_pressure,seville_rain_3h,madrid_rain_1h,barcelona_rain_3h,valencia_snow_3h,madrid_weather_id,barcelona_weather_id,bilbao_pressure,seville_weather_id,valencia_pressure,seville_temp_max,madrid_pressure,valencia_temp_max,valencia_temp,bilbao_weather_id,seville_temp,valencia_humidity,valencia_temp_min,barcelona_temp_max,madrid_temp_max,barcelona_temp,bilbao_temp_min,bilbao_temp,barcelona_temp_min,bilbao_temp_max,seville_temp_min,madrid_temp,madrid_temp_min,load_shortfall_3h
0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.000000,1.000000,0.0,level_7,6.333333,level_2,0.0,3.333333,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp14,274.254667,sp6,269.888000,269.888000,800.000000,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.000000,1.000000,0.0,level_7,4.000000,level_4,0.0,3.333333,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp14,274.945000,sp6,271.728333,271.728333,800.000000,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.000000,1.000000,0.0,level_6,2.000000,level_10,0.0,2.666667,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp14,278.792000,sp6,278.008667,278.008667,800.000000,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.000000,1.000000,0.0,level_6,2.333333,level_8,0.0,4.000000,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp15,285.394000,sp12,284.899552,284.899552,800.000000,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.000000,0.333333,0.0,level_6,4.333333,level_8,0.0,3.000000,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp16,285.513719,sp22,283.015115,283.015115,800.000000,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667
5,2015-01-01 18:00:00,1.000000,level_7,0.0,1.000000,69.666667,67.333333,12.333333,0.666667,0.0,level_6,4.666667,level_8,0.0,2.666667,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp16,282.077844,sp16,277.622563,277.622563,800.666667,282.077844,72.666667,277.622563,284.165625,274.639229,284.165625,277.919000,277.919000,284.165625,277.919000,282.077844,274.639229,274.639229,6842.000000
6,2015-01-01 21:00:00,1.000000,level_8,0.0,1.000000,83.666667,63.333333,16.333333,1.000000,0.0,level_6,3.333333,level_8,0.0,2.000000,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp14,277.637000,sp7,272.270333,272.270333,800.666667,277.637000,83.333333,272.270333,283.420333,268.287000,283.420333,274.295437,274.295437,283.420333,274.295437,277.637000,268.287000,268.287000,10760.333333
7,2015-01-02 00:00:00,1.000000,level_9,0.0,1.000000,83.666667,64.000000,8.666667,1.333333,0.0,level_7,2.000000,level_9,0.0,2.333333,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp14,276.457333,sp7,271.040667,271.040667,800.333333,276.457333,82.000000,271.040667,282.474000,266.882333,282.474000,272.903167,272.903167,282.474000,272.903167,276.457333,266.882333,266.882333,10866.000000
8,2015-01-02 03:00:00,1.000000,level_9,0.0,1.000000,86.000000,63.333333,5.333333,1.000000,0.0,level_8,1.666667,level_10,0.0,3.000000,0.0,sp25,0.0,0.0,sp22,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp14,276.151667,sp7,270.535000,270.535000,800.000000,276.151667,80.666667,270.535000,281.726667,266.226667,281.726667,271.780115,271.780115,281.726667,271.780115,276.151667,266.226667,266.226667,-1850.333333
9,2015-01-02 06:00:00,1.000000,level_9,0.0,1.333333,87.000000,63.666667,15.333333,1.000000,0.0,level_8,1.000000,level_10,0.0,3.000000,0.0,sp25,0.0,0.0,sp23,0.0,0.0,0.0,0.0,800.0,800.0,sp22,800.0,sp15,276.453000,sp7,271.661333,271.661333,801.000000,276.453000,75.333333,271.661333,281.803000,266.878000,281.803000,271.673667,271.673667,281.803000,271.673667,276.453000,266.878000,266.878000,-4002.333333